body{
  background-color: azure;
  color:black;
  font-size: 18px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
margin:0px;
padding:0px;
}

.form{
  width:1300px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  padding:15px;
  margin:14px;
}

input[type="text"]{
  width:500px;
  height: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding:15px;
  margin:15px;
}
label{
  width:500px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around ;
  align-items: center;
  flex-wrap: nowrap ;
  padding:15px;
  margin:15px;
}

.container{
  width:1300px;
  height: 800px;
  padding:15px;
  
}

.button{
  width:300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding:15px;
  background-color: aqua;
}
